html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("../image/raspberry.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Bitter', serif;
}
